# Archivos sensibles
*.pem
*.key
*.crt
*.env
*.vault
secrets.yml
group_vars/secrets.yml
*.json
*.base64

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
terraform.tfvars

# Archivos de salida o temporales
output.txt
*.log
*.retry

# Configuraciones locales de editores
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Archivos de sistema
*.bak
.DS_Store
Thumbs.db
